<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbol genealógico</title>
</head>

<body>
    <h1>Arbol Genealógico</h1>
    <p>Este es el contenido visible.</p>
    <p>Este son los personas de la BBDD:
        {% for person in person_list %}
        <li>
            <a href="http://localhost:8000/nodes/{{ person['uuid'] }}?depth=2">
                {{ person["first_name"] }}
                {{ person["first_surname"] }}
                {{ person["second_surname"] }}
            </a>

        </li>
        {% endfor %}
    </p>




</body>