<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbol genealógico</title>
</head>

<body>
    <h1>Arbol Genealógico</h1>
    <p>Estas son las relaciones de la BBDD: </p>

    {% for relationship in person_relationship %}
    <div>
        <div>
            {% for parent in relationship["parents"] %}
            {{ parent.name }} {{ parent.first_surname }} {{ parent.second_surname }}
            {% endfor %}
        </div>
        <div>
            {% for child in relationship["children"] %}
            {{ child.name }} {{ child.first_surname }} {{ child.second_surname }}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>
</body>